---
interface Props {
  text: string;
}
import commentO from "./../images/commentO.png";
import commentC from "./../images/commentC.png";
import select from "./../images/select.png";
const { text } = Astro.props;
---

<div class="flex flex-col justify-center items-center m-4">
  <div class="flex items-center">
    <img src={commentO.src} class="w-[40px]" alt="Comment html" />
    <p class="text-white">{text}</p>
    <img src={commentC.src} class="w-[30px]" alt="Comment html" />
  </div>
  <div class="justify-center items-center w-[45%] hidden" id={text}>
    <img src={select.src} alt="selected" class="w-[100%]" />
  </div>
  
</div>
