---
interface Props {
  text: string;
}
import commentO from "./../images/commentO.png";
import commentC from "./../images/commentC.png";
import select from "./../images/select.png";
const { text } = Astro.props;
---

<div class="w-fit mt-4 flex flex-col items-center justify-center">
  <div class="flex items-center">
    <img src={commentO.src} class="" alt="Comment html" />
    <p class="text-white text-2xl">{text}</p>
    <img src={commentC.src} alt="Comment html" />
  </div>
  <div class="justify-center items-center w-full hidden" id={text}>
    <img src={select.src} alt="selected" class="bg-red-500" />
  </div>
  <style></style>
</div>
