---
import Navbar from "./Navbar.astro";
import LineHorizontal from "./LineHorizontal.astro";
import MenuPhone from "./MenuPhone.astro"
import rickAndMorty from "./../images/RickAndMorty.webp";
import camgro from "./../images/Camgro.webp";
import React from "./icons/React.astro";
import JS from "./icons/JS.astro";
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro";
import ReduxJS from "./icons/ReduxJS.astro";
import SpringBoot from "./icons/SpringBoot.astro";
import PostgreSQL from "./icons/PostgreSQL.astro";
import Comment from "./Comment.astro"
const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DE1F] text-white",
    icon: JS,
  },
  REACT: {
    name: "React JS",
    class: "bg-[#39C1D7] text-white",
    icon: React,
  },
  HTML: {
    name : "HTML",
    class : "bg-[#E65100] text-white",
    icon : HTML
  },
  CSS : {
    name : "CSS",
    class : "bg-[#0277BD] text-white",
    icon : CSS
  },
  REDUX : {
    name : "Redux JS",
    class : "bg-[#6C4EB0] text-white",
    icon : ReduxJS
  },
  SPRINGBOOT : {
    name : "Spring Boot",
    class : "bg-[#BAE0BD] text-white",
    icon : SpringBoot
  },
  POSTGRESQL : {
    name : "PostgreSQL",
    class : "bg-[#0277BD] text-white",
    icon : PostgreSQL
  }
};
const PROJECTS = [
  {
    title: "Rick and Morty Information",
    description: `An interactive platform that allows fans to explore and learn about
            the characters of Rick and Morty. With an intuitive interface and
            navigation arrows, users can discover detailed information about each
            character, including their vital status and episodes in which they
            appear. An immersive experience for followers of the series.`,
    img: rickAndMorty.src,
    technologies: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.REDUX],
    code : "https://github.com/marlon-rivera/rick-and-morty-project",
    preview : "https://rickandmortyinfoserie.netlify.app/"
  },
  {
    title: "CAMGRO",
    description: `It's a platform that simplifies the connection between agricultural producers 
and buyers. Producers can post their products with details and prices, while 
buyers can search and contact directly through an integrated chat. With registration, login, and search functions, we streamline the process of buying 
and selling agricultural products.`,
    img: camgro.src,
    technologies: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.SPRINGBOOT, TAGS.POSTGRESQL],
    code : "https://github.com/marlon-rivera/CAMGRO",
  },
];
---

<section class="h-screen animate-fade-in">
  <Navbar />
  <script>
    let page = document.getElementById("Projects");
    if (page) {
      page.style.display = "flex";
    }
  </script>
  <LineHorizontal style="mt-10 left-2 animatedDT" />
  <div class="flex justify-evenly md:justify-start">
    <h2 class="text-5xl md:text-6xl md:pt-20 ml-10 mb-12">Projects</h2>
    <button id="menu" class="absoulte top-2 rigth-2 bg-[#0000ff] bg-opacity-[0.2] rounded-md mr-4 md:hidden"> <Comment id="menu" /> </button>
          <script>
            let menu = document.getElementById("menu")
            menu?.addEventListener("click", ()=>{
              let menuPhone = document.getElementById("menuPhone")
              if(menuPhone){
                if(menuPhone.style.display == "block"){
                  menuPhone.style.display = "none";
                }else{
                  if(menu){
                    menu.style.display = "none"
                  }
                  menuPhone.style.display = "flex"
                }
              }
            })
          </script>
          <MenuPhone  />
  </div>
  <div class="pb-10 ">
    <div class="projects flex flex-col gap-20 mt-5 justify-center items-center">
      {
        PROJECTS.map((p) => (
          <article class="flex flex-col">
            <div>
              <h3 class="text-2xl">{p.title}</h3>
            </div>
            <div class="md:flex  gap-3">
              <img src={p?.img} alt=`project ${p.title}` />
              <div class="flex flex-col">
                <p>{p?.description}</p>
                  <div>
                    <ul class="flex flex-wrap gap-2 mt-4 ">
                      {p?.technologies.map((t) => (
                        <li>
                          <span class=`flex rounded-full py-1 px-2 ${t.class} justify-center items-center` >
                            <t.icon class="size-5" />
                            {t.name}
                          </span>
                        </li>
                      ))}
                      </ul>
                      <div class="flex gap-x-16 p-8">
                        {p?.code && <span class="flex justify-center items-center hover:scale-125 "><a href={p.code} target="_blank" rel="noreferrer" class="flex justify-center items-center size-6">
                        <Comment /> Code</a></span>} 
                        {p?.preview && <span class="flex justify-center items-center hover:scale-125">
                          <a href={p?.preview} target="_blank" rel="noreferrer" class="flex justify-center items-center size-6"> <Comment /> Preview</a></span>}
                        </div>
                    </div>
                
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
<style>
  h2 {
    text-shadow:
      1px 0 #0000ff,
      -1px 0 #0000ff,
      0 1px #0000ff,
      0 -1px #0000ff,
      1px 1px #0000ff,
      -1px -1px #0000ff,
      1px -1px #0000ff,
      -1px 1px #0000ff;
  }
  .projects img {
    width: 250px;
    border-radius: 0.25rem;
  }
  .projects article {
    border-radius: 0.25rem;
    display: flex;

    width: 80%;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.18);
    gap: 1rem;
    max-width: max-content;
  }
</style>
